/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .news-list {
    @apply px-6:md px-3 py-5;
  }
  .news-list .news-item {
    @apply text-left text-white py-4 border-2 shadow-sm:hover rounded-md mb-5 px-3 cursor-pointer;
  }
}

:root {
  --primary: #1545ca;
  --secondary: #004f7c;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c4350;
}

